
body {
  font-family: 'Libre Baskerville', serif;
  max-width: 900px;
  margin: auto;
  padding: 80px 40px;  
  line-height: 1.6;
  font-size: 18px;
}


h1 {
  font-family: 'Playfair Display', serif;
  margin-top: 0px;
  color: #143b4e;
  font-size: 72px;
}

h2 {
  font-family: 'Playfair Display', serif;
  margin-top: 40px;
  color: #143b4e;
  font-size: 52px;
}


a {
  color: #6b77b0;
  text-decoration: none;
}

a:hover {
  color: #4a5480;
}


.header {
  display: flex;
  align-items: center;      
  justify-content: space-between;
  gap: 40px;                
  margin-bottom: 60px;
}

.header-text {
  flex: 1;                  
}


.profile-photo {
  width: 350px;            
  height: 350px;
  object-fit: cover;       
  border-radius: 10px;
}


header {
  margin-bottom: 40px;
  text-align: center;
}

header nav a {
  margin: 0 50px;
  text-decoration: none;
  color: #143b4e;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}

header nav a:hover {
  color: #6b77b0;
}

.button {
  background-color: #6b77b0;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #4a5480;
  cursor: pointer;
}


.button-group {
  display: flex;
  gap: 20px;       
  flex-wrap: wrap;  
  margin-top: 15px;
}
